<html>
<head>
  <title>The Butterfly Effect</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript" src="https://butterfly-effect-w3.herokuapp.com/node_modules/socket.io/lib/socket.js"></script>
<script type="text/javascript" src="https://butterfly-effect-w3.herokuapp.com/javaScript/jquery-3.2.1.min.js"></script>
<link href="img/favicon.ico" rel="shortcut icon"/>
<link rel="stylesheet" href="css/style2.css"/>

</head>
<div>
<body background="img/player.jpg">
 <div class="container">
  <!-- Scenario -->
  </br>
  </br>
  </br>
      <p2 id ="plot"> <%=question%> </p2> <!-- if p2{ position:absolute; } text is centered but if text is too long it covers the hexagons -->
  </br>
  </br>
  </br>
  <div class="hexagon hexColour1" id= "hexagon1"><p3 id = "option1"><%=answer1%></p3></div>
  <div class="hexagon hexColour2"  id="hexagon2"><p3 id = "option2"><%=answer2%></p3></div>
  <div class="hexagon hexColour3"   id= "hexagon3"><p3 id ="option3"><%=answer3%></p3></div>

  <p3 id="time">TIME <p>
  </div>
<div class="right-container">
<canvas id="myChart" width="10" height="10"></canvas>
<div>
<script src = "/javaScript/hostView.js"></script>

<p3 id="time">TIME <p3>
</body>
</html>
