
<html>
<head>
  <script src = "/javaScript/homePage.js" type="text/javascript"></script>
  </head>
<body>
  <button type="button" id="hostButton" onclick = "goHost()" ><a href="/hostView" id ="hostViewLink"> Host view </a></button>
  <button type="button" name="playerButton" onclick="goPlayer()"><a href="/playerView" id ="playerViewLink"> Player view </a></button>

  </body>

</htmL>
