<html lang="zxx">
<head>
<title>The Butterfly Effect</title>
<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>
	<link rel="stylesheet" href="css/style2.css"/>
	<script src ="/javaScript/playerView.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>
<body background="img/player.jpg">

<div class="wrapper">
  <button type="button" id="button1" onclick="vote(0)" class="site-btn2"><img src="img/icons/but8.jpg" alt="#"/></button >
  <button type="button"  id="button2" onclick="vote(1)" class="site-btn2"><img src="img/icons/but9.jpg" alt="#"/></button>
  <button type="button"  id="button3" onclick="vote(2)" class="site-btn2"><img src="img/icons/but7.jpg" alt="#"/></button>
</div>

</body>
</html>
