<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link href="img/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="css/style2.css"/>
  </head>
<body background="img/player.jpg" >
  <div class="wrapper">
  <button id="button0" onclick="vote(0)" class="site-btn2" >
      <img src="img/icons/but8.jpg" alt="#"/>
    </button>
    <button id="button1" onclick= "vote(1)" class="site-btn2">
      <img src="img/icons/but9.jpg" alt="#"/>
      </button>
      <button id="button2" onclick = "vote(2)" class="site-btn2"> <img src="img/icons/but7.jpg" alt="#"/></button>
    </div>
  <script src ="/javaScript/playerView.js"></script>

  </body>
</htmL>
